.card{
    padding:20px;
}
.card_block{
    margin-top:60px;
}
body{
    color: rgb(32, 32, 32);
}
h4{
    color: rgb(85, 85, 85);
    font-family: 'Yu Gothic';
}
h5{
    font-family: 'Yu Gothic';
    color: rgb(122, 122, 122);
}