
#char_sheet{
    margin:20px;
    margin-top: 40;
    padding: 40px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 20px;
}

th{
    font-family: Yu Gothic;
    font-size: 20px;
    padding: 4px 7px;
    /* max-width: 110px; */
    text-align: left;
    min-width: 15px;
}
th input{
    max-width: 110px;
}
th.desc{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    transform: translateY(7px);
}
input{
    border-radius: 7px;
    border: solid rgb(185, 185, 185) 1px;
    width: 100%;
    text-align: center;
}
input:focus{
    outline: none;
    box-shadow: 0 0 0 1px rgb(128, 128, 128);

}
select{
    border-radius: 5px;
    border: solid rgb(185, 185, 185) 1px;
    width: 100%;
    text-align: center;
}

.block{
    visibility: inherit;
    height: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px 15px;
    border-radius: 10px;
    border: solid rgb(199, 199, 199) 1px;
    width: 100%;
}
.block-controller{
    /* border-top-left-radius: 7px;
    border-top-right-radius: 7px; */
    background-color: rgb(53, 53, 53);
    color: white;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Generic Version */
}

.border h4{
    padding: 10px;
}

.ab_table th{
    font-size: 18px;
    font-weight: 500;
    border-bottom: solid rgb(209, 209, 209) 1px;
}
.ab_table th b{
    font-size: 18px;
    font-weight: 600;
}

.border-right{
    border-right: solid rgb(146, 146, 146) 1px !important; 
}
h6{
    padding: 20px;
    text-align: right;
    font-size: 20px;
}

.table-list th{
    border: 1px solid rgb(207, 207, 207);
    font-weight: 500;
    max-width: 100%;
    padding-left: 20px;
}

.table-list input{
    border: none;
    font-weight: 500;
    max-width: 100%;
    padding-left: 10px;
    margin-left: -10px;
    text-align: left;
}

.char_info{
    margin-left: 50px;
}

h3{
    padding: 20px 7px;
    padding-bottom: 0px;
}